.rs-p-wp-fix {
    display: none!important;
    margin: 0!important;
    height: 0px!important
}

rs-module-wrap,
rs-module-wrap * {
    box-sizing: border-box
}

rs-module-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block
}

rs-module {
    position: relative;
    overflow: hidden;
    display: block
}

rs-module img {
    max-width: none!important;
    margin: 0px;
    padding: 0px;
    border: none
}

rs-slides,
rs-slide,
rs-slide:before {
    position: absolute;
    text-indent: 0em;
    top: 0px;
    left: 0px
}

rs-slide,
rs-slide:before {
    display: block;
    visibility: hidden
}

rs-module rs-layer {
    opacity: 0;
    position: relative;
    visibility: hidden;
    white-space: nowrap;
    display: block;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1
}

rs-layer:not(.rs-wtbindex) {
    outline: none!important
}

rs-layer img {
    vertical-align: top
}

rs-progress {
    visibility: hidden;
    width: 100%;
    height: 5px;
    background: #000;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 200;
    top: 0px
}

rs-progress.rs-bottom {
    top: auto;
    bottom: 0px!important;
    height: 5px
}

body {
    font-weight: 300;
    font-family: Montserrat, sans-serif
}

.clearfix:after,
.eltdf-container:after {
    clear: both
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon path,
.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon>*,
.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path path,
.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path>*,
.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon path,
.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon>* {
    fill: currentColor;
    stroke: currentColor
}

a,
body,
div,
form,
h2,
h3,
html,
i,
li,
p,
span,
strong,
ul {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0
}

body {
    background-color: #fff
}

a img {
    border: none
}

ul {
    margin: 15px 0
}

header,
nav,
section {
    display: block
}

img {
    max-width: 100%;
    height: auto
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

html {
    overflow-y: scroll!important
}

body {
    font-size: 15px;
    line-height: 26px;
    color: #868686;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased
}

h2 {
    font-size: 60px;
    line-height: 1em
}

h3 {
    font-size: 42px;
    line-height: 1.071428571428571em
}

h2,
h3 {
    font-weight: 500;
    margin: 20px 0;
    font-family: Cormorant, serif;
    color: #2d2d2d
}

a {
    color: #2d2d2d;
    text-decoration: none
}

p {
    margin: 10px 0
}

ul {
    list-style-position: inside
}

.eltdf-wrapper {
    position: relative;
    left: 0;
    z-index: 1000
}

.eltdf-wrapper .eltdf-wrapper-inner {
    width: 100%;
    overflow: hidden
}

.eltdf-content {
    position: relative;
    margin-top: 0;
    z-index: 100;
    background-color: #fff
}

.eltdf-container:after,
.eltdf-container:before {
    content: " ";
    display: table
}

.eltdf-container,
.eltdf-full-width {
    z-index: 100;
    position: relative
}

.eltdf-container {
    padding: 0;
    width: 100%
}

.eltdf-vertical-align-containers .eltdf-position-left-inner,
.eltdf-vertical-align-containers .eltdf-position-right-inner {
    display: inline-block;
    vertical-align: middle
}

.eltdf-container-inner {
    width: 1100px;
    margin: 0 auto;
    box-sizing: border-box
}

.eltdf-content .eltdf-content-inner>.eltdf-full-width>.eltdf-full-width-inner {
    padding-top: 70px;
    padding-bottom: 40px
}

.eltdf-grid {
    width: 1100px;
    margin: 0 auto
}

.eltdf-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box
}

.eltdf-vertical-align-containers .eltdf-position-left {
    position: relative;
    float: left;
    z-index: 2;
    height: 100%
}

.eltdf-vertical-align-containers .eltdf-position-right {
    position: relative;
    float: right;
    z-index: 2;
    height: 100%;
    text-align: right
}

.eltdf-vertical-align-containers .eltdf-position-left:before,
.eltdf-vertical-align-containers .eltdf-position-right:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: 0
}

.wpb_row {
    margin-bottom: 0!important
}

.eltdf-row-grid-section {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 20
}

.eltdf-grid-col-12:after,
.eltdf-grid-col-12:before,
.eltdf-grid-row:after,
.eltdf-grid-row:before {
    content: " ";
    display: table
}

.eltdf-grid-row {
    margin-left: -15px;
    margin-right: -15px
}

.eltdf-grid-row:after {
    clear: both
}

.eltdf-grid-col-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    box-sizing: border-box
}

.eltdf-grid-col-12 {
    float: left;
    width: 100%
}

.eltdf-grid-col-12:after {
    clear: both
}

@media only screen and (max-width: 1024px) {
    .eltdf-grid-col-12 {
        width: 100%;
        float: none
    }
}

input[type=text] {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding: 14px 18px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: inherit;
    color: #868686;
    background-color: transparent;
    border: 1px solid #ecc5ab;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    box-sizing: border-box
}

input[type=text]::-webkit-input-placeholder {
    color: inherit
}

input:-moz-placeholder[type=text] {
    color: inherit;
    opacity: 1
}

input[type=text]::-moz-placeholder {
    color: inherit;
    opacity: 1
}

input:-ms-input-placeholder[type=text] {
    color: inherit
}

.eltdf-owl-slider {
    visibility: hidden
}

#eltdf-back-to-top {
    position: fixed;
    width: 41px;
    right: 25px;
    bottom: 25px;
    margin: 0;
    z-index: 10000;
    opacity: 0;
    visibility: hidden
}

#eltdf-back-to-top>span {
    position: relative;
    display: block;
    width: 39px;
    height: 39px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    color: #d0936a;
    background-color: transparent;
    border: 1px solid transparent;
    overflow: hidden
}

#eltdf-back-to-top>span .eltdf-btt {
    position: absolute;
    content: '';
    background-color: #d0936a
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-top-left,
#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-top-right {
    top: 0;
    height: 1px
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-top-left {
    left: 0;
    width: 100%
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-top-right {
    right: 0;
    width: 0
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-bottom-left,
#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-bottom-right {
    bottom: 0;
    height: 1px
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-bottom-right {
    right: 0;
    width: 100%
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-bottom-left {
    left: 0;
    width: 0
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-left,
#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-right {
    width: 1px;
    height: 100%
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-right {
    top: 0;
    right: 0
}

#eltdf-back-to-top>span .eltdf-btt.eltdf-disc-btt-left {
    bottom: 0;
    left: 0
}

#eltdf-back-to-top span span {
    display: block;
    line-height: inherit
}

input[type=text]::-ms-clear {
    display: none
}

.widget {
    margin: 0 0 35px
}

.eltdf-side-menu .widget {
    color: #2d2d2d
}

.eltdf-side-menu .widget:last-child {
    margin: 0!important
}

.eltdf-side-menu .widget h3 {
    margin: 0;
    color: #d0936a
}

.eltdf-top-bar a {
    color: #969696
}

.eltdf-owl-slider {
    position: relative;
    display: none;
    width: 100%;
    margin: 0;
    z-index: 1
}

.eltdf-page-header .eltdf-menu-area .eltdf-logo-wrapper a {
    max-height: 90px
}

.eltdf-menu-area-in-grid-border-disable .eltdf-page-header .eltdf-menu-area .eltdf-grid .eltdf-vertical-align-containers {
    border: none
}

.eltdf-page-header {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    z-index: 110;
    box-sizing: border-box
}

.eltdf-page-header a img {
    display: block
}

.eltdf-page-header .eltdf-vertical-align-containers {
    padding: 0 40px
}

.eltdf-page-header .eltdf-grid {
    height: 100%
}

.eltdf-page-header .eltdf-grid .eltdf-vertical-align-containers {
    padding: 0
}

.eltdf-page-header .eltdf-menu-area {
    position: relative;
    height: 90px;
    background-color: #fff;
    box-sizing: border-box
}

.eltdf-dark-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-dark-logo {
    opacity: 1
}

.eltdf-dark-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-light-logo,
.eltdf-dark-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-normal-logo {
    opacity: 0
}

.eltdf-dark-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area {
    color: #2d2d2d!important
}

.eltdf-logo-wrapper {
    display: inline-block;
    vertical-align: middle
}

.eltdf-logo-wrapper a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: 100%
}

.eltdf-main-menu,
.eltdf-main-menu>ul,
.eltdf-main-menu>ul>li>a {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.eltdf-logo-wrapper a img {
    height: 100%;
    width: auto
}

.eltdf-logo-wrapper a img.eltdf-normal-logo {
    opacity: 1
}

.eltdf-logo-wrapper a img.eltdf-dark-logo {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%)
}

.eltdf-logo-wrapper a img.eltdf-light-logo {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    transform: translateY(-200%)
}

.eltdf-main-menu {
    height: 100%;
    width: auto
}

.eltdf-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left
}

.eltdf-main-menu ul li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0
}

.eltdf-main-menu ul li a {
    font-size: 11px;
    line-height: 28px;
    letter-spacing: .1em;
    color: #d09269;
    text-transform: uppercase
}

.eltdf-main-menu>ul {
    width: 100%;
    height: 100%
}

.eltdf-main-menu>ul>li {
    float: left;
    height: 100%;
    box-sizing: border-box
}

.eltdf-main-menu>ul>li>a {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    color: #363636;
    font-size: 12px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: .14em;
    box-sizing: border-box;
    text-transform: uppercase
}

.eltdf-main-menu>ul>li>a>span.item_outer {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}

.eltdf-main-menu>ul>li>a>span.item_outer .item_text {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.eltdf-main-menu>ul>li>a>span.item_outer .item_text:after {
    position: absolute;
    content: '';
    width: 0;
    height: 15px;
    bottom: -3px;
    left: -6px;
    background-color: #f7e9dd;
    z-index: -1
}

.eltdf-main-menu>ul>li.eltdf-active-item>a {
    color: #d0936a
}

.eltdf-dark-header .eltdf-page-header>div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu>ul>li>a {
    color: #2d2d2d
}

.eltdf-dark-header .eltdf-page-header>div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu>ul>li.eltdf-active-item>a {
    color: #d0936a
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-main-menu {
    width: auto;
    padding: 0 0 0 20px
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left-inner {
    height: 100%
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left:before,
.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right:before {
    display: none
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right-inner {
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    height: 100%
}

.eltdf-mobile-header {
    position: relative;
    display: none;
    z-index: 110
}

.eltdf-mobile-header .eltdf-mobile-header-inner {
    position: relative;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #ecc5ab;
    box-sizing: border-box
}

.eltdf-mobile-header .eltdf-mobile-header-inner .eltdf-mobile-header-holder {
    position: relative;
    z-index: 2;
    height: 100%
}

.eltdf-mobile-header .eltdf-grid {
    height: 100%
}

.eltdf-mobile-header .eltdf-vertical-align-containers {
    padding: 0
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper a {
    display: block
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper img {
    display: block;
    height: 100%;
    width: auto
}

.eltdf-mobile-header .eltdf-mobile-menu-opener {
    position: relative;
    height: 100%;
    float: right;
    z-index: 2
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a {
    display: table;
    height: 100%;
    padding-right: 10px
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a>* {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    line-height: 1em
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon>* {
    vertical-align: middle
}

.eltdf-mobile-header .eltdf-mobile-nav {
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #ecc5ab
}

.eltdf-mobile-header .eltdf-mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.eltdf-mobile-header .eltdf-mobile-nav ul li {
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-transform: translateZ(0)
}

.eltdf-mobile-header .eltdf-mobile-nav ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    margin: 0;
    font-size: 11px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #2d2d2d
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid>ul>li.eltdf-active-item>a {
    color: #d0936a
}

.eltdf-mobile-header .eltdf-mobile-nav>.eltdf-grid>ul>li:last-child>a {
    border-bottom: none
}

.eltdf-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%)
}

.eltdf-sticky-header .eltdf-grid {
    height: 100%!important
}

.eltdf-sticky-header .eltdf-sticky-holder {
    position: relative;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px solid #f7e9dd;
    box-sizing: border-box
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-logo-wrapper a {
    max-height: 70px
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-grid .eltdf-vertical-align-containers {
    padding: 0
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-vertical-align-containers {
    padding: 0 40px
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-main-menu {
    width: auto;
    padding: 0 0 0 20px
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left-inner {
    height: 100%
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right:before {
    display: none
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right-inner {
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    height: 100%
}

.eltdf-top-bar {
    width: 100%;
    vertical-align: middle;
    position: relative
}

.eltdf-top-bar {
    display: inline-block;
    height: 46px;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    background-color: #2d2d2d;
    z-index: 111;
    box-sizing: border-box
}

.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-left:before,
.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-right:before {
    display: none
}

.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-left-inner,
.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-right-inner {
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    height: 100%
}

.eltdf-top-bar .eltdf-grid {
    height: 100%
}

.eltdf-top-bar .eltdf-grid .eltdf-vertical-align-containers {
    padding-left: 0;
    padding-right: 0
}

.eltdf-search-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    line-height: 1;
    margin: 0 10px
}

.eltdf-search-opener .eltdf-search-opener-wrapper {
    display: block
}

.eltdf-search-opener .eltdf-search-opener-wrapper>* {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: inherit
}

.eltdf-search-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    z-index: 115
}

.eltdf-search-cover .eltdf-container,
.eltdf-search-cover .eltdf-container-inner {
    height: 100%
}

.eltdf-search-cover .eltdf-form-holder-outer {
    display: table;
    width: 100%;
    height: 100%
}

.eltdf-search-cover .eltdf-form-holder {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px
}

.eltdf-search-cover .eltdf-form-holder-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-search-cover .eltdf-container-inner .eltdf-form-holder {
    padding: 0
}

.eltdf-search-cover .eltdf-container-inner .eltdf-search-close {
    right: 0
}

.eltdf-search-cover input {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    margin: 0;
    padding: 0;
    float: left;
    font-family: inherit;
    color: #d0936a!important;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: 0;
    outline-offset: 0;
    border-radius: 0
}

.eltdf-search-cover input::-webkit-input-placeholder {
    color: inherit
}

.eltdf-search-cover input:-moz-placeholder {
    color: inherit;
    opacity: 1
}

.eltdf-search-cover input::-moz-placeholder {
    color: inherit;
    opacity: 1
}

.eltdf-search-cover input:-ms-input-placeholder {
    color: inherit
}

.eltdf-search-cover .eltdf-search-close {
    position: absolute;
    right: 15px;
    top: 50%;
    display: inline-block;
    vertical-align: middle;
    color: #2d2d2d;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}

.eltdf-search-cover .eltdf-search-close.eltdf-search-close-icon-pack {
    font-size: 33px;
    line-height: 1em
}

.eltdf-search-cover .eltdf-search-close.eltdf-search-close-icon-pack *,
.eltdf-search-cover .eltdf-search-close.eltdf-search-close-icon-pack :before {
    display: block;
    line-height: inherit
}

.eltdf-side-menu-button-opener,
.eltdf-side-menu-button-opener .eltdf-side-menu-icon {
    display: inline-block;
    position: relative;
    vertical-align: middle
}

.eltdf-dark-header .eltdf-page-header>div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener {
    color: #2d2d2d!important
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon>svg {
    padding: 2px;
    -webkit-transform: rotate(0) translateZ(0);
    -moz-transform: rotate(0) translateZ(0);
    transform: rotate(0) translateZ(0)
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon>* {
    vertical-align: middle
}

.eltdf-side-menu {
    position: fixed;
    top: 0;
    right: -505px;
    width: 505px;
    height: 100%;
    min-height: 100%;
    padding: 120px 70px 40px;
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    border: 1px solid #f7e9dd;
    border-top: 0;
    box-sizing: border-box
}

.eltdf-side-menu a.eltdf-close-side-menu {
    position: absolute;
    top: 80px;
    right: 43px;
    display: block;
    z-index: 1000;
    color: #2d2d2d
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path>* {
    vertical-align: middle
}

.eltdf-side-menu-slide-from-right .eltdf-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 1000
}

@media only screen and (max-width: 1440px) {
    .eltdf-side-menu-slide-from-right .eltdf-side-menu {
        padding: 90px 70px 40px
    }
}

@media only screen and (max-width: 1280px) {
    .eltdf-side-menu-slide-from-right .eltdf-side-menu {
        padding: 60px 42px 30px 41px
    }
}

.eltdf-icon-widget-holder,
.eltdf-icon-widget-holder>* {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.eltdf-icon-widget-holder {
    margin: 0
}

.eltdf-icon-widget-holder>* {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: inherit
}

.eltdf-icon-widget-holder .eltdf-icon-text {
    padding: 0 0 0 7px
}

.widget.eltdf-separator-widget {
    margin: 0!important
}

.eltdf-social-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0
}

.eltdf-social-icon-widget-holder .eltdf-social-icon-widget {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit
}

.eltdf-btn {
    font-weight: 300
}

.eltdf-btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box
}

.eltdf-btn {
    position: relative;
    width: auto;
    margin: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 1.833333333333333em;
    letter-spacing: .24em;
    text-transform: uppercase;
    outline: 0;
    padding: 14px 44px
}

.eltdf-btn.eltdf-btn-discontinuous {
    color: #d0936a;
    background-color: transparent;
    border: 0
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn {
    position: absolute;
    content: '';
    background-color: #d0936a
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn-top-left {
    width: 76%;
    height: 1px
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn-top-right {
    width: 10%;
    height: 1px
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-blob-btn-left,
.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn-right {
    width: 1px;
    height: 100%
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn-top-left {
    top: -1px;
    left: 0
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn-top-right {
    top: -1px;
    right: 0
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn-right {
    top: 0;
    right: 0
}

.eltdf-btn.eltdf-btn-discontinuous .eltdf-blob-btn-left {
    top: 0;
    left: 0
}

.eltdf-dropcaps {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    line-height: 42px;
    font-size: 42px;
    color: #999;
    font-weight: 300;
    text-align: center;
    margin: 3px 15px 0 0
}

.eltdf-dropcaps.eltdf-circle {
    height: 35px;
    width: 35px;
    font-size: 22px;
    line-height: 35px;
    font-weight: 600;
    color: #fff;
    background-color: #2d2d2d;
    margin: 6px 9px 0 0;
    box-sizing: border-box
}

.eltdf-dropcaps.eltdf-circle {
    border-radius: 3em
}

.eltdf-elements-holder {
    width: 100%;
    display: table;
    table-layout: fixed
}

.eltdf-elements-holder.eltdf-two-columns .eltdf-eh-item {
    width: 50%
}

.eltdf-elements-holder .eltdf-eh-item {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-position: center;
    background-size: cover
}

.eltdf-image-gallery {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-image-gallery.eltdf-ig-slider-type.eltdf-has-border:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 36px);
    border: 1px solid #d0936a;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0)
}

.eltdf-image-gallery.eltdf-ig-slider-type.eltdf-has-border.eltdf-image-behavior-custom-link .eltdf-ig-image a img {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0)
}

.eltdf-image-gallery .eltdf-ig-image a,
.eltdf-image-gallery .eltdf-ig-image img {
    position: relative;
    display: block
}

.eltdf-image-gallery .eltdf-ig-slider {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle
}

.eltdf-image-gallery.eltdf-image-behavior-custom-link .eltdf-ig-image {
    overflow: hidden
}

.eltdf-image-gallery.eltdf-image-behavior-custom-link .eltdf-ig-image a img {
    -webkit-transform: scale(1.03) translateZ(0);
    -moz-transform: scale(1.03) translateZ(0);
    transform: scale(1.03) translateZ(0)
}

.eltdf-section-title-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box
}

.eltdf-section-title-holder.eltdf-animated-tagline .eltdf-st-inner .eltdf-st-tagline:before {
    width: 0
}

.eltdf-section-title-holder .eltdf-st-inner .eltdf-st-tagline {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em
}

.eltdf-section-title-holder .eltdf-st-inner .eltdf-st-tagline:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 51px;
    height: 1px;
    vertical-align: super;
    top: 2px;
    margin-right: 10px;
    background-color: #d0936a
}

.eltdf-section-title-holder .eltdf-st-inner .eltdf-st-title {
    display: block;
    margin: 3px 0 0
}

.eltdf-section-title-holder .eltdf-st-inner .eltdf-st-text {
    display: block;
    margin: 18px 0 0;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0
}

.eltdf-separator-holder {
    position: relative;
    height: auto;
    font-size: 0;
    line-height: 1em
}

.eltdf-separator-holder.eltdf-separator-center {
    text-align: center
}

.eltdf-separator {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    margin: 10px 0
}

@font-face {
    font-family: 'ElegantIcons';
    src: url(../themes/dalia/framework/lib/icons-pack/elegant-icons/fonts/ElegantIcons.eot);
    src: url(../themes/dalia/framework/lib/icons-pack/elegant-icons/fonts/ElegantIcons.eot?#iefix) format('embedded-opentype'), url(../themes/dalia/framework/lib/icons-pack/elegant-icons/fonts/ElegantIcons.woff) format('woff'), url(../themes/dalia/framework/lib/icons-pack/elegant-icons/fonts/ElegantIcons.ttf) format('truetype'), url(../themes/dalia/framework/lib/icons-pack/elegant-icons/fonts/ElegantIcons.svg#ElegantIcons) format('svg');
    font-weight: normal;
    font-style: normal
}

.social_facebook,
.social_instagram {
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.social_facebook:before {
    content: "\e093"
}

.social_instagram:before {
    content: "\e09a"
}

.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-google:before {
    content: "\f1a0"
}

.fa-yelp:before {
    content: "\f1e9"
}

@font-face {
    font-family: Font Awesome\ 5 Brands;
    font-style: normal;
    font-weight: 400;
    src: url(../themes/dalia/framework/lib/icons-pack/font-awesome/webfonts/fa-brands-400.eot);
    src: url(../themes/dalia/framework/lib/icons-pack/font-awesome/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../themes/dalia/framework/lib/icons-pack/font-awesome/webfonts/fa-brands-400.woff2) format("woff2"), url(../themes/dalia/framework/lib/icons-pack/font-awesome/webfonts/fa-brands-400.woff) format("woff"), url(../themes/dalia/framework/lib/icons-pack/font-awesome/webfonts/fa-brands-400.ttf) format("truetype"), url(../themes/dalia/framework/lib/icons-pack/font-awesome/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

.fab {
    font-family: Font Awesome\ 5 Brands
}

@font-face {
    font-family: "Ionicons";
    src: url(../themes/dalia/framework/lib/icons-pack/ion-icons/fonts/ionicons.eot?v=2.0.0);
    src: url(../themes/dalia/framework/lib/icons-pack/ion-icons/fonts/ionicons.eot?v=2.0.0#iefix) format("embedded-opentype"), url(../themes/dalia/framework/lib/icons-pack/ion-icons/fonts/ionicons.ttf?v=2.0.0) format("truetype"), url(../themes/dalia/framework/lib/icons-pack/ion-icons/fonts/ionicons.woff?v=2.0.0) format("woff"), url(../themes/dalia/framework/lib/icons-pack/ion-icons/fonts/ionicons.svg?v=2.0.0#Ionicons) format("svg");
    font-weight: normal;
    font-style: normal
}

.ion-ios-arrow-up:before,
.ion-ios-close-empty:before,
.ion-ios-home-outline:before,
.ion-ios-search:before,
.ion-ios-telephone-outline:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ion-ios-arrow-up:before {
    content: "\f3d8"
}

.ion-ios-close-empty:before {
    content: "\f404"
}

.ion-ios-home-outline:before {
    content: "\f447"
}

.ion-ios-search:before {
    content: "\f4a5"
}

.ion-ios-telephone-outline:before {
    content: "\f4b8"
}

#eltdf-back-to-top>span,
.eltdf-side-menu .widget h3,
.eltdf-main-menu>ul>li.eltdf-active-item>a,
.eltdf-dark-header .eltdf-page-header>div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu>ul>li.eltdf-active-item>a,
.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid>ul>li.eltdf-active-item>a,
.eltdf-btn.eltdf-btn-discontinuous {
    color: #9edd00
}

.eltdf-search-cover input {
    color: #9edd00!important
}

#eltdf-back-to-top>span .eltdf-btt,
.eltdf-btn.eltdf-btn-discontinuous .eltdf-disc-btn,
.eltdf-section-title-holder .eltdf-st-inner .eltdf-st-tagline:before {
    background-color: #9edd00
}

.eltdf-image-gallery.eltdf-ig-slider-type.eltdf-has-border:after {
    border-color: #9edd00
}

.eltdf-mobile-header .eltdf-mobile-header-inner {
    border-color: #9edd00
}

.eltdf-mobile-header .eltdf-mobile-nav {
    border-color: #9edd00
}

.eltdf-mobile-header .eltdf-mobile-nav ul li a {
    border-bottom-color: #9edd00
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a {
    color: #9edd00
}

.eltdf-page-header .eltdf-sticky-header .eltdf-sticky-holder {
    border-color: #9edd00
}

.eltdf-page-header .eltdf-menu-area {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #9edd00
}

@media only screen and (max-width: 1200px) {
    .eltdf-container-inner,
    .eltdf-grid,
    .eltdf-row-grid-section {
        width: 950px
    }
}

@media only screen and (max-width: 1024px) {
    body:not(.eltdf-content-is-behind-header):not(.error404) .eltdf-content {
        margin-top: 0!important
    }
    .eltdf-container-inner,
    .eltdf-grid,
    .eltdf-row-grid-section {
        width: 768px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-container-inner,
    .eltdf-grid,
    .eltdf-row-grid-section {
        width: 600px
    }
}

@media only screen and (max-width: 680px) {
    .eltdf-container-inner,
    .eltdf-grid,
    .eltdf-row-grid-section {
        width: 420px
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-container-inner,
    .eltdf-grid,
    .eltdf-row-grid-section {
        width: 300px
    }
}

@media only screen and (max-width: 320px) {
    .eltdf-container-inner,
    .eltdf-grid,
    .eltdf-row-grid-section {
        width: 90%
    }
}

@media only screen and (max-width: 1024px) {
    .eltdf-page-header {
        display: none
    }
    .eltdf-mobile-header {
        display: block
    }
    .eltdf-top-bar {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-two-columns .eltdf-eh-item {
        width: 100%;
        height: auto;
        display: inline-block
    }
    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-left .eltdf-eh-item .eltdf-eh-item-content {
        text-align: left
    }
    .eltdf-elements-holder.eltdf-responsive-mode-768.eltdf-one-column-alignment-right .eltdf-eh-item .eltdf-eh-item-content {
        text-align: right
    }
}

@media only screen and (max-width: 480px) {
    .eltdf-elements-holder .eltdf-eh-item-content {
        padding: 0 10px
    }
}

@media only screen and (max-width: 768px) {
    .eltdf-section-title-holder {
        padding: 0!important
    }
}

@media only screen and (max-width: 680px) {
    h2 {
        font-size: 45px
    }
}

.vc_row:after,
.vc_row:before {
    content: " ";
    display: table
}

.vc_row:after {
    clear: both
}

.vc_column_container {
    width: 100%
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px
}

.vc_col-lg-6,
.vc_col-md-12,
.vc_col-sm-12,
.vc_col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.vc_col-xs-12 {
    float: left
}

.vc_col-xs-12 {
    width: 100%
}

@media (min-width: 768px) {
    .vc_col-sm-12 {
        float: left
    }
    .vc_col-sm-12 {
        width: 100%
    }
}

@media (min-width: 992px) {
    .vc_col-md-12 {
        float: left
    }
    .vc_col-md-12 {
        width: 100%
    }
}

@media (min-width: 1200px) {
    .vc_col-lg-6 {
        float: left
    }
    .vc_col-lg-6 {
        width: 50%
    }
}

.vc_column-inner::after,
.vc_column-inner::before {
    content: " ";
    display: table
}

.vc_column-inner::after {
    clear: both
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-google:before {
    content: "\f1a0"
}

.fa-yelp:before {
    content: "\f1e9"
}

@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(../plugins/float-menu-pro/assets/vendors/fontawesome/webfonts/fa-brands-400.eot);
    src: url(../plugins/float-menu-pro/assets/vendors/fontawesome/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../plugins/float-menu-pro/assets/vendors/fontawesome/webfonts/fa-brands-400.woff2) format("woff2"), url(../plugins/float-menu-pro/assets/vendors/fontawesome/webfonts/fa-brands-400.woff) format("woff"), url(../plugins/float-menu-pro/assets/vendors/fontawesome/webfonts/fa-brands-400.ttf) format("truetype"), url(../plugins/float-menu-pro/assets/vendors/fontawesome/webfonts/fa-brands-400.svg#fontawesome) format("svg")
}

.fab {
    font-family: "Font Awesome 5 Brands"
}

.fab {
    font-weight: 400
}

.fm-label {
    position: absolute
}

.fm-label {
    display: none
}

.fm-label {
    font-size: 15px;
    line-height: 42px;
    padding: 0 11px 0 8px;
    left: 42px;
    top: 0;
    z-index: 10;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}