@using Commerce.UI.Models.Media
@using Commerce.Core.Domain.Templates


@model ListGalleryModel


<div class="vc_row wpb_row vc_row-fluid vc_custom_1527599959680">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1527599950101">
            <div class="wpb_wrapper">
                <div class="eltdf-image-gallery  eltdf-ig-carousel-type eltdf-three-columns eltdf-medium-space   eltdf-image-behavior-custom-link eltdf-bullets-center ">
                    <div class="eltdf-ig-slider eltdf-owl-slider"
                            data-number-of-items="3" data-enable-loop="yes"
                            data-enable-autoplay="yes" data-slider-speed="5000"
                            data-slider-speed-animation="600" data-slider-padding="no"
                            data-enable-navigation="no" data-enable-pagination="yes">
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="#" target="_self" title="services1">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services1.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services1.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services1-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="" target="_self" title="services2">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services2.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services2.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services2-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="" target="_self" title="services4">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services4.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services4.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services4-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="" target="_self" title="services5">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services5.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services5.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services5-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="" target="_self" title="services6">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services6.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services6.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services6-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="" target="_self" title="services7">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services7.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services7.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services7-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                        <div class="eltdf-ig-image">
                            <a itemprop="url"
                                class="eltdf-ig-custom-link eltdf-block-drag-link"
                                href="" target="_self" title="services11">
                                <img width="600" height="461"
                                        src="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services11.jpg"
                                        class="attachment-full size-full" alt=""
                                        srcset="~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services11.jpg 600w, ~/Themes/Mango-KVDEN/wp-content/uploads/2021/01/services11-300x231.jpg 300w"
                                        sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>